



h3 {
  color: blue
}
input{
  color: blue;
  align-items: center;
}
body{
  background: ivory
}
.inputs{
  align-items: center;
  color: blue;
}
.field1 {
color:blue;
text-align: center;
}
.button {
  text-align: 'center';
}
div {
  text-align: center;
}
/* .h1 {
  text-align: center;
} */
/* #h1 {
  text-align: center;
}  */
h1 {
  text-align: center;
}